h1 {
  color: green;
}

html { 
  height: 100%;
}

body {
  height: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  width: 360px;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}

.app-root-div {
  flex: 1;
  font-family: Noto Sans KR;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.start-button {
  background-color: #636363;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.start-button:hover {
  background-color: #3c3c3c;
}

.home-item-box {
  width: 280px;
  height: 248px;
  border: 1px solid #E5E5E5;
  border-radius: 16px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.home-item-title {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: bold;
  padding-top: 24px;
  padding-left: 25px;
}

.home-item-desc {
  font-weight: normal;
  font-size: 14px;
  color: #929292;
  text-align: left;
  padding-left: 25px;
  padding-top: 8px;
}

.home-item-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 232px;
  padding: 8px 0 16px 25px;
  align-items: flex-end;
  justify-content: space-between;
}