h1 {
  color: green;
}

html { 
  height: 100%;
}

body {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #ffffff;
}

#root {
  width: 360px;
  height: 640px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: scroll;
}

.app-root-div {
  flex: 1;
  font-family: Noto Sans KR;
  display: block;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dark-button {
  background-color: #636363;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.dark-button:hover {
  background-color: #3c3c3c;
}

.white-button {
  color: #636363;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}
.white-button:hover {
  background-color: #efefef;
}

.home-item-box {
  width: 278px;
  height: 246px;
  border: 1px solid #E5E5E5;
  border-radius: 16px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.home-item-title {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: bold;
  padding-top: 24px;
  padding-left: 25px;
}

.home-item-desc {
  font-weight: normal;
  font-size: 14px;
  color: #929292;
  text-align: left;
  padding-left: 25px;
  padding-top: 8px;
}

.home-item-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 232px;
  padding: 8px 0 16px 25px;
  align-items: flex-end;
  justify-content: space-between;
}

.category-tag {
  height: 24px;
  line-height: 24px;
  border-radius: 16px;
  padding: 0 13px 0 13px;
  font-size: 12px;
  font-weight: bold;
}

.circle-div {
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}