h1 {
  color: green;
}

html { 
  height: 100%;
}

body {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #ffffff;
}

#root {
  width: 360px;
  height: 640px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: scroll;
}

.app-root-div {
  flex: 1;
  font-family: Noto Sans KR;
  display: block;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dark-button {
  background-color: #636363;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.dark-button:hover {
  background-color: #3c3c3c;
}

.white-button {
  color: #636363;
  background-color: #ffffff;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
.white-button:hover {
  background-color: #efefef;
}

.home-item-box {
  width: 278px;
  height: 246px;
  border: 1px solid #E5E5E5;
  border-radius: 16px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.home-item-desc {
  font-weight: normal;
  font-size: 14px;
  color: #929292;
  text-align: left;
  padding-left: 25px;
  padding-top: 24px;
}

.home-item-title {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: bold;
  padding-left: 25px;
  padding-top: 16px;
}

.home-item-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 232px;
  padding: 8px 0 16px 25px;
  align-items: flex-end;
  justify-content: space-between;
}

.category-tag {
  height: 24px;
  line-height: 24px;
  border-radius: 16px;
  padding: 0 13px 0 13px;
  font-size: 12px;
  font-weight: bold;
}

.circle-div {
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tournament-card {
  width: 248px;
  height: 182px;
  border-radius: 24px;
  position: relative;
  cursor: pointer;
}
.tournament-card:hover {
  opacity: 0.5;
}

.centered-vs {
  position: absolute;
  height: 54px;
  line-height: 54px;
  width: 54px;
  border-radius: 27px;
  left: 50%;
  margin-left: -26px;
  top: 50%;
  margin-top: -26px;
  background: #FFFFFF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16);
  color: #3c3c3c;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ainize-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}